<!-- Required Styles -->
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css.map">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css.map">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css.map">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.css">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.css.map">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css">
