{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Happy Dogs</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Filters</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                        <form method="get">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="start_date">Start Date</label>
                                                        <input type="text" class="form-control datepicker" id="start_date" name="start_date" aria-describedby="emailHelp" placeholder="Select Date">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="end_date">End Date</label>
                                                        <input type="text" class="form-control datepicker" id="end_date" name="end_date" placeholder="Select Date">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Visits Record</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Monday</th> 
                                                <th>Tuesday</th> 
                                                <th>Wednesday</th> 
                                                <th>Thursday</th> 
                                                <th>Friday</th> 
                                                <th>Saturday</th> 
                                                <th>Sunday</th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in data %}
                                                <tr>
                                                    <td>
                                                        <h4>
                                                            Day: &nbsp;{{ record.MONDAY.day |date:"M d, Y" }}
                                                        </h4>
                                                        <h5>
                                                            {{ record.MONDAY.data |length }} Dogs
                                                        </h5>
                                                        <!-- {% for day_data in record.MONDAY.data %}
                                                            <div>
                                                                <p>Dog ID :{{ day_data.id}}</p>
                                                            </div>
                                                        {% endfor %} -->
                                                    </td> 
                                                    <td>
                                                        <h4>
                                                            Day: {{ record.TUESDAY.day|date:"M d, Y" }}
                                                        </h4>
                                                        <h5>
                                                            {{ record.TUESDAY.data |length }} Dogs
                                                        </h5>
                                                        <!-- {% for day_data in record.TUESDAY.data %}
                                                            <div>
                                                                <p>Dog ID :{{ day_data.id}}</p>
                                                            </div>
                                                        {% endfor %} -->
                                                    </td> 
                                                    <td>
                                                        <h4>
                                                            Day: {{ record.WEDNESDAY.day|date:"M d, Y" }}
                                                        </h4>
                                                        <h5>
                                                            {{ record.WEDNESDAY.data |length }} Dogs
                                                        </h5>
                                                        <!-- {% for day_data in record.WEDNESDAY.data %}
                                                            <div>
                                                                <p>Dog ID :{{ day_data.id}}</p>
                                                            </div>
                                                        {% endfor %} -->
                                                    </td> 
                                                    <td>
                                                        <h4>
                                                            Day: {{ record.THURSDAY.day|date:"M d, Y" }}
                                                        </h4>
                                                        <h5>
                                                            {{ record.THURSDAY.data |length }} Dogs
                                                        </h5>
                                                        <!-- {% for day_data in record.THURSDAY.data %}
                                                            <div>
                                                                <p>Dog ID :{{ day_data.id}}</p>
                                                            </div>
                                                        {% endfor %} -->
                                                    </td> 

                                                    <td>
                                                        <h4>
                                                            Day: {{ record.FRIDAY.day|date:"M d, Y" }}
                                                        </h4>
                                                        <h5>
                                                            {{ record.FRIDAY.data |length }} Dogs
                                                        </h5>
                                                        <!-- {% for day_data in record.FRIDAY.data %}
                                                            <div>
                                                                <p>Dog ID :{{ day_data.id}}</p>
                                                            </div>
                                                        {% endfor %} -->
                                                    </td> 

                                                    <td>
                                                        <h4>
                                                            Day: {{ record.SATURDAY.day|date:"M d, Y" }}
                                                        </h4>
                                                        <h5>
                                                            {{ record.SATURDAY.data |length }} Dogs
                                                        </h5>
                                                        <!-- {% for day_data in record.SATURDAY.data %}
                                                            <div>
                                                                <p>Dog ID :{{ day_data.id}}</p>
                                                            </div>
                                                        {% endfor %} -->
                                                    </td> 
                                                    <td>
                                                        <h4>
                                                            Day: {{ record.SUNDAY.day|date:"M d, Y" }}
                                                        </h4>
                                                        <h5>
                                                            {{ record.SUNDAY.data |length }} Dogs
                                                        </h5>
                                                        <!-- {% for day_data in record.SUNDAY.data %}
                                                            <div>
                                                                <p>Dog ID :{{ day_data.id}}</p>
                                                            </div>
                                                        {% endfor %} -->
                                                    </td> 
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
